---
layout: page
title: "Resources"
description: "自己整理的各种资源集合"
header-img: "img/114295.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>贵有恒,何必三更起五更眠<br>
    最无益,只怕一日曝十日寒</p></blockquote>



    <p></p>
        
<h3 id="toc_0">学习网站</h3>

<ul>
<li>小林coding:<a href="https://www.xiaolincoding.com/">xiaolincoding</a></li>
<li>FreeBuf：<a href="https://www.freebuf.com/">最喜欢的一集</a></li>
<li>看雪：<a href="https://bbs.kanxue.com/">看雪看雪看雪</a></li>
<li>微步在线:<a href="https://x.threatbook.com/">threabook</a></li>
<li>cs自学指南：<a href="https://csdiy.wiki/">cyber security简称cs也很合理吧</a></li>
<li>浙江大学课程攻略共享计划：<a href="https://qsctech.github.io/zju-icicles/">虽然没保研想法，但学习学霸的思想还是没问题的</a></li>
<li>清华大学计算机系课程攻略：<a href="https://rekcarc-tsc-uht.readthedocs.io/en/latest/README.html">THU-CST-Cracker documentation</a></li>    
<li>杭电计算机科学讲义：<a href="https://hdu-cs.wiki/">HDU-CS-WIKI</a></li>    
<li>先知社区：<a href="https://xz.aliyun.com/tab/1">里面有东西的</a></li>    
<li>吾爱破解：<a href="https://www.52pojie.cn/">你的东西很好，但马上就是我的了</a></li>    
<li>wooyun：<a href="https://wooyun.kieran.top/#!/">这是一个悲伤的故事</a></li>
<li>Go编程时光：<a href="https://golang.iswbm.com/">开启Golang的学习之旅</a></li>
</ul>

<h3 id="toc_1">妙妙工具在这里</h3>

<ul>
<li>清华大学开源镜像站：<a href="https://mirrors.tuna.tsinghua.edu.cn/">Tsinghua mirrors</a></li>
<li>md5解码：<a href="https://www.somd5.com/">md5</a></li>
<li>Linux命令速查手册：<a href="http://linux-command.kit.secself.com/">linux-command</a></li>
<li>php函数参考：<a href="https://www.php.net/manual/zh/funcref.php">php是世界上最好的语言(笑)</a></li>
<li>三哈的工具箱：<a href="https://www.su-sanha.cn/tools/">不只是工具箱</a></li>
</ul>

<h3 id="toc_2">靶场&题库</h3>

<ul>
<li>ctfshow：<a href="https://ctf.show/">ctfshow</a></li>
<li>bugku：<a href="https://ctf.bugku.com/">bugku</a></li>
<li>攻防世界：<a href="https://adworld.xctf.org.cn/home/index?rwNmOdr=1687961476912">xctf</a></li>
<li>NSSCTF：<a href="https://www.nssctf.cn/index">NSSCTF</a></li>
<li>BUUCTF：<a href="https://buuoj.cn/challenges">BUUCTF</a></li>
<li>CTFHub：<a href="https://www.ctfhub.com/#/challenge">这个是半收费平台</a></li>
<li>力扣：<a href="https://leetcode.cn/problemset/all/">LeetCode</a></li>
<li>CF：<a href="https://codeforces.com/">codeforces</a></li>
<li>洛谷：<a href="https://www.luogu.com.cn/">luogu</a></li>
</ul>

<h3 id="toc_3">博客</h3>

<ul>
<li>猪哥的博客：<a href="https://www.iculture.cc/">FancyPig's blog</a></li>
<li>卡尔的博客：<a href="https://carl1l.github.io/archives/">carl's blog</a></li>
<li>kali的博客：<a href="https://blog.bbskali.cn/">kali's blog</a></li>
</ul>

<hr>

<small> <font color="a0a9a9">
<b>特别说明：</b>
<li>网站尚处于起步阶段，后续将更新更多内容！</li>
</font>
<small>
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

